<div class="widget-body win form-horizontal bgc_b">
  <div class="winbody summary mb_15" w="558px" h="auto" style="border: 0">
	
	<div class="summaryb">
	<a href="print.html?tb=GD220209" target="_blank"><span>工程材料、构配件、设备报审表</span></a>
		
	</div>
	<div ng-if="yctype!=2&&yctype!=3&&yctype!=4&&yctype!=6" class="summaryb">
		<a href="print.html?tb=GD2301052" target="_blank"><span>质量证明文件汇总表</span></a>
	</div>

	<div ng-if="yctype==1" class="summaryb">
	<a href="print.html?tb=GD2301046" target="_blank"><span>钢筋核查记录表</span></a>
		
	</div>
	<div ng-if="yctype==2" class="summaryb">
	<a href="print.html?tb=GD2301048" target="_blank"><span>水泥出厂、复验质量证明文件汇总表</span></a>
		
	</div>

	<div ng-if="yctype==3" class="summaryb">
	<a href="print.html?tb=GD2301049" target="_blank"><span>粗(细)骨料合格证、试验报告汇总表</span></a>
		
	</div>

	<div ng-if="yctype==4" class="summaryb">
	<a href="print.html?tb=GD2301050" target="_blank"><span>原材料合格证、试验报告汇总表</span></a>
		
	</div> 


	<!-- <div ng-if="yctype==6" class="summaryb">
	<a href="print.html?tb=GD23020201" target="_blank"><span>墙体节能工程质量证明文件汇总表</span></a>
		
	</div>

	<div ng-if="yctype==6" class="summaryb">
	<a href="print.html?tb=GD23020202" target="_blank"><span>墙体节能工程见证取样复验报告汇总表</span></a>
		
	</div>

	<div ng-if="yctype==6" class="summaryb">
	<a href="print.html?tb=GD23020401" target="_blank"><span>门窗节能工程质量证明文件汇总表</span></a>
		
	</div>

	<div ng-if="yctype==6" class="summaryb">
	<a href="print.html?tb=GD23020402" target="_blank"><span>门窗节能工程见证取样复验报告汇总表</span></a>
		
	</div>

	<div ng-if="yctype==6" class="summaryb">
	<a href="print.html?tb=GD23020501" target="_blank"><span>屋面节能工程质量证明文件汇总表</span>
	</div></a>
		

	<div ng-if="yctype==6" class="summaryb">
	<a href="print.html?tb=GD23020502" target="_blank"><span>屋面节能工程见证取样复验报告汇总表</span></a>
		
	</div> 
 -->
 

		 
		
	</div>
	<!-- 	<div class="col-sm-12 ysbtn t_c"> 
			 <button type="button" class="b_2 btn btn-default layui-layer-close">取消</button>
		</div> -->
</div>
