


<!-- 省市管理  -->
<div class="widget-main biaoge" ng-controller="com_ctrl">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-themeprimary h_10"></div>
        </div>
    </div>
    <div class="tabbable">
        <ul class="nav nav-tabs planmytab">
            <li class="active">
                <a >省市管理</a>
            </li>
            <li>
                
            </li>
        </ul>
        <div class="tab-content">
        <div class="row mb_10">
            <div class="col-xs-7"></div>
            <div class="col-xs-3">
             <div class="row">
                <div class="col-sm-6">
                    <select changepro="system_city_listData" key="pid" class="w_p100" >
                    <option value="0">选择省份</option> 
                        <option value="{{value.pid}}" ng-repeat="(key, value) in com_province">{{value.province}}</option> 
                    </select>
                </div>
                 
            </div>               
            </div>
            <div class="col-xs-2">
                <button type="button" comfind="system_city_list" class="btn btn-blue">查询</button>
            </div>
        </div>
            <div id="matter" class="tab-pane in active">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="bordered-palegreen">
                        <tr align="center">
<!--                             <th width="50" style="padding: 6px;">
                                <label yscheckall="matterdata" yskey="ycselected">
                                    <input type="checkbox" class="colored-blue">
                                    <span class="text"></span>
                                </label>
                            </th>  -->                           
                             <td width="30">ID</td>
                             
                             <td width="120">城市名称 </td> 
                             <td width="420">采集URL </td> 
                             <td width="60">受否采集</td>
                              <td width="120">操作</td>
                              <td width="120">采集日期</td>                          
                        </tr>

                    </thead>
                    <tbody>
                        <tr align="center" ng-class="{true:'yssel',false:''}[value.ycselected==1]" ng-repeat="(key, value) in system_city_list.datalist">
<!--                             <td align="center">
                                <div class="checkbox">
                                    <label yscheck="ycselected">
                                        <input type="checkbox" class="colored-blue" ng-checked="value.ycselected==1">
                                        <span class="text"></span>
                                    </label>
                                </div>
                            </td>  -->                              
         <td>{{value.ctid}}</td>        

         <td> <input type="text" name="city" value="{{value.city}}"></td> 

         <td> <input class="w_p100 pl_5" style="text-align: left;" type="text" name="weatherurl" value="{{value.weatherurl}}"></td> 
         <td>
                               <div class="checkbox">
                                    <label>
                                        <input type="checkbox" comedit='cornot' value="{{value.cornot}}" class="colored-blue" ng-checked="value.cornot == 1">
                                        <span class="text"></span>
                                    </label>
                                </div>
          
         </td>
          <td>
          <button  ng-if="value.weatherurl!=''" type="button" class="btn btn-success" temurl="{{value.weatherurl}}" caijitem="{{value.ctid}}" style="width: 75px;margin-top: 5px;">采集15天温度</button>
          </td>
           <td width="120">{{value.lastupdate|date:'yyyy-MM-dd'}}</td> 
          </tr>
</tbody>
 </table>

                <div id='page' class="t_c mt_10"></div>
            </div>
        </div>
    </div>
</div>