<div  class="widget-body win form-horizontal bgc_b" >
  <div class="winbody summary mb_15" w="558px" h="auto" style="border: 0">
	<!-- 标养 -->
	<div ng-if="stype=='byornot'" class="summaryb">
		<a href="print.html?tb=GD2301039" target="_blank">实体混凝土养护情况记录表</a>
	</div>

	<div ng-if="stype=='byornot'" class="summaryb">
		<a href="print.html?tb=GD2301042" target="_blank">标养-混凝土试块试验结果汇总表</a>
	</div> 

	<div ng-if="stype=='byornot'" class="summaryb">
		<a href="print.html?tb=GD2301044" target="_blank">标养-混凝土抗压强度计算表</a>
	</div> 

	<!-- 同养 -->
	<div ng-if="stype=='tyornot'" class="summaryb">
		<a href="print.html?tb=GD2301065" target="_blank">混凝土同条件养护试件日累计养护温度记录表</a>
	</div>

	<div ng-if="stype=='tyornot'" class="summaryb">
		<a href="print.html?tb=GD2301042" target="_blank">同养-混凝土试块试验结果汇总表</a>
	</div> 

	<div ng-if="stype=='tyornot'" class="summaryb">
		<a href="print.html?tb=GD2301044" target="_blank">同养-混凝土抗压强度计算表</a>
	</div> 

	<!-- 焊接 -->
	<div ng-if="stype=='dzornot'" class="summaryb">
		<a href="print.html?tb=GB2301051" target="_blank">钢筋机械连接接头检验报告汇总表</a>
	</div>

	<div ng-if="stype=='dzornot'" class="summaryb">
		<a href="print.html?tb=GD2301047" target="_blank">钢筋(钢材、钢管、螺栓)连接检验报告汇总表</a>
	</div> 

	 
			 
	<!-- 拆模 -->
	<div ng-if="stype=='cmornot'" class="summaryb">
		<a href="print.html?tb=GD2301067" target="_blank">混凝土拆模申请</a>
	</div>

	<!-- 砌筑 -->
	<div ng-if="stype=='qzornot'" class="summaryb">
		<a href="print.html?tb=GD2301043" target="_blank">砂浆试块试验结果汇总表</a>
	</div>

	<div ng-if="stype=='qzornot'" class="summaryb">
		<a href="print.html?tb=GD2301045" target="_blank">砂浆抗压强度计算表</a>
	</div> 

	<!-- 外墙 -->
	<div ng-if="stype=='wqornot'" class="summaryb">
		<a href="print.html?tb=GD2301043" target="_blank">砂浆试块试验结果汇总表</a>
	</div>

	<div ng-if="stype=='wqornot'" class="summaryb">
		<a href="print.html?tb=GD2301045" target="_blank">砂浆抗压强度计算表</a>
	</div> 

	<!-- 内墙 -->
	<div ng-if="stype=='nqornot'" class="summaryb">
		<a href="print.html?tb=GD2301043" target="_blank">砂浆试块试验结果汇总表</a>
	</div>

	<div ng-if="stype=='nqornot'" class="summaryb">
		<a href="print.html?tb=GD2301045" target="_blank">砂浆抗压强度计算表</a>
	</div>  


	<!-- 找平 -->
	<div ng-if="stype=='zpornot'" class="summaryb">
		<a href="print.html?tb=GD2301043" target="_blank">砂浆试块试验结果汇总表</a>
	</div>

	<div ng-if="stype=='zpornot'" class="summaryb">
		<a href="print.html?tb=GD2301045" target="_blank">砂浆抗压强度计算表</a>
	</div> 









 			
	</div>
	<!-- <div class="col-sm-12 ysbtn t_c"> 
			 <button type="button" class="b_2 btn btn-default layui-layer-close">取消</button>
		</div> -->
</div>
